:root {
   //Colors
   --color-bg-primary: #fff;
   --color-bg-secondary: #e4a600;
   --color-bg-tertiary: #282828;
   
   --color-text-1: #000;
   --color-text-2: #6B6B6B;
   --color-text-3: #262626;

   --color-border-1: #F5F5F5;
}
