.header-main {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.logo {
   display: block;
   width: 20rem;

   &__img {
      width: 100%;
   }
}

.header-page {
   padding: 3rem 2rem;
}