//----------HAMBURGER BUTTON-----------------------
.hamburger {
   border: none;
   padding: 1rem;
   margin-top: 1rem;
   background-color: transparent;
   cursor: pointer;

   &__box {
      display: block;
      width: 6rem;
      height: 6rem;
      background-color: var(--color-bg-primary);
      position: relative;
   }

   &__inner {
      @include hamburger-line;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: background-color .1s .2s ease-in-out;
      
      &::before,
      &::after {
         @include hamburger-line;
         content: "";
         transition: transform .1s .2s ease-in-out;
      }

      &::before {
         top: -1.6rem;
      }

      &::after {
         top: 1.6rem;
      }
   }
}

.hamburger--active .hamburger__inner {
   background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
   transform: translateY(1.6rem) rotate(45deg);
}

.hamburger--active .hamburger__inner::after {
   transform: translateY(-1.6rem) rotate(-45deg);
}

//----------NAVIGATION-----------------------

