.hamburger {
   border: none;
   padding: 1rem;
   background-color: transparent;

   &__box {
      display: block;
      width: 6rem;
      height: 6rem;
      background-color: var(--color-bg-primary);
      position: relative;
   }

   &__inner {
      @include hamburger-line;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      
      &::before,
      &::after {
         @include hamburger-line;
         content: "";
      }

      &::before {
         top: -1.6rem;
      }

      &::after {
         top: 1.6rem;
      }
   }
}
